---
import { SITE } from '#config'
---

<div id="card-style">
    <div id="card-div">
        <div class="avatar">
            <img src={SITE.avatar} alt="avatar" />
        </div>
        <div class="name">{SITE.author}</div>
        <div class="description" set:html={SITE.card.description} />
        {
            SITE.card.iconLinks && (
                <div class="icon-links">
                    {SITE.card.iconLinks.map(({ name, iconName, iconTheme, link }) => (
                        <span class="icon-link">
                            <a href={link} target="_blank">
                                <i class:list={[`fa-${iconTheme}`, `fa-${iconName}`, 'fa-fw']} />
                            </a>
                        </span>
                    ))}
                </div>
            )
        }
        {
            SITE.card.friendLinks && (
                <div class="friend-links">
                    {SITE.card.friendLinks.map(({ name, link }) => (
                        <div class="friend-link">
                            <a href={link} target="_blank">
                                {name}
                            </a>
                        </div>
                    ))}
                </div>
            )
        }
    </div>
</div>
